<div>
    <p></p>
    <h3>Cart</h3>
    <p></p>
    <table class="table table-hover">
        <thead>
        <tr>
            <td>ID</td>
            <td>Title</td>
            <td>Quantity</td>
            <td>Price</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="i in cart.items">
            <td>{{i.productId}}</td>
            <td>{{i.productTitle}}</td>
            <td>
                <button class="btn btn-primary" ng-click="changeItemQuantity(i.productId, -1)">-</button>
                {{i.quantity}}
                <button class="btn btn-primary" ng-click="changeItemQuantity(i.productId, 1)">+</button>
            </td>
            <td>{{i.quantity + ' x ' + i.pricePerProduct + ' = ' + i.price}}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><b>Total price:</b></td>
            <td><b>{{cart.totalPrice}}</b></td>
        </tr>
        </tbody>
    </table>
    <p></p>
    <button class="btn btn-primary" ng-click="createOrder()">Create Order</button>
    <button class="btn btn-danger" ng-click="clearCart()">Empty Cart</button>
    <p></p>
</div>